.main {
    padding: 40px 0;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 0 5px 1px rgba(#68a3ca, 0.35);
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 122px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        li {
            margin-left: 20px;
        }

        a {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
            color: #636363;
            padding: 8px 15px;

            &.active,
            &:hover {
                color: #0785da;
            }
        }
    }
}

.footer {
    background: #dae5ec;
    padding: 8px 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .copyright {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
}
